.btn {
  padding: 22px 18px 22px 18px;
  background-color: gray;
  border: 0;
  border-radius: 8px;
  line-height: 24px;
  font-size: 22px;
  font-family: Inter;
  cursor: pointer;
  color: #000000;
}
