.choice {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.title {
  width: 361px;
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
}

.text {
  font-size: 18px;
  width: 396px;
  margin-bottom: 32px;
}

.pageNavigation {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}
