.choice {
  display: flex;
  flex-direction: column;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.marginWrapper {
  margin: 16px;
}

.title {
  font-size: 32px;
  font-weight: 800;
  margin: 0px 182px 0px 0px;
}

.text {
  font-size: 18px;
  width: 396px;
  margin-bottom: 32px;
}

.pageNavigation {
  width: 408px;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}
