.choice {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  /* width: 341px; */
  font-size: 48px;
  font-weight: 800;
  line-height: 55px;
  margin-left: 16px;
  top: 32px;
}

.text {
  font-size: 20px;
  margin-top: -26px;
  font-weight: 500;
  line-height: 26px;
  /* width: 311px; */
  margin-left: 16px;
  margin-bottom: 24px;
}

.card {
  margin-left: -12px;
}
