.choice {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  margin-right: 16px;
  margin-top: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.chooseLanguage {
  font-weight: 500;
  font-size: 16px;
}

.leftContainer {
  margin-top: 36px;
  margin-left: 16px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 0px 0px 0px;
}

.title {
  width: 396px;
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
  margin: 46px 0px 8px 0px;
}

.text {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  width: 396px;
  margin: 0px 0px 22px 0px;
}

.card {
  margin-left: -12px;
}
