.choice {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

title {
  width: 361px;
  font-size: 48px;
  line-height: 1;
  margin-left: 12px;
}

.text {
  font-size: 18px;
  width: 311px;
  margin-left: 12px;
  margin-bottom: 40px;
}
