.choice {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marginWrapper {
  margin: 16px;
}

.title {
  top: 172px;
  width: 381px;
  font-size: 48px;
  line-height: 1;
}

.subTitle {
  width: 286px;
  font-size: 24px;
  line-height: 1;
}

.text {
  font-size: 18px;
  width: 311px;
  margin-left: 12px;
  margin-bottom: 40px;
}
