.choice {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  margin-right: 16px;
  margin-top: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.chooseLanguage {
  font-weight: 500;
  font-size: 16px;
}

.leftContainer {
  margin-top: 36px;
  margin-left: 16px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 0px 0px 0px;
}

.marginWrapper {
  margin: 16px;
}

.title {
  width: 396px;
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
  margin: 14px 0px 8px 0px;
}

.image {
  width: 428px;
  margin-top: 36px;
}

.howTo {
  background-color: #6b51ef;
  width: 428px;
  color: white;
  padding-bottom: 22px;
}

.howToHeader {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.subTitle {
  width: 200px;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: -12px;
}

.smallText {
  width: 200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.line {
  margin-bottom: 22px;
}

.howToPartWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.text {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  width: 396px;
  margin: 0px 0px 22px 0px;
}

.processHeader {
  width: 412 px;
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
}

.checkWrapper {
  display: flex;
  flex-direction: column;
}

.checkPartWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin-top: -14px;
}

.contactInfoButton {
  margin-top: 24px;
  margin-bottom: 24px;
}
