.choice {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marginWrapper {
  margin: 16px;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 0px 0px 0px;
}

.continue {
  width: 113px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 23px;
  margin: 0px;
}
.title {
  width: 381px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 80px 0px 10px 0px;
}

.text {
  font-size: 18px;
  margin: 0px 0px 12px 0px;
  line-height: 40px;
}
.textDatePicker {
  font-size: 20px;
  line-height: 24px;
  margin: 0px 0px 12px 0px;
}

.datePickerContainer {
  width: 400px;
}

.datePickerContainerStart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.datePickerContainerEnd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 31px;
  margin-top: 14px;
}

.pageNavigation {
  width: 408px;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

input {
  font-size: 20px;
  width: 267px;
  height: 55px;
  border-radius: 4px;
  padding-left: 18px;
}
