.choice {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.title {
  width: 381px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 80px 0px 10px 0px;
}

.text {
  font-size: 18px;
  line-height: 21px;
  margin: 0px 0px 12px 0px;
  line-height: 40px;
}
.textDatePicker {
  /* display: flex;
  justify-content: flex-start; */
  gap: 18px;
  font-size: 18px;
  line-height: 21px;
}

.datePickerContainerStart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.datePickerContainerEnd {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pageNavigation {
  display: flex;
  justify-content: space-between;
}
