.choice {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.title {
  width: 381px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 80px 0px 10px 0px;
}

.text {
  font-size: 18px;
  margin: 0px 0px 12px 0px;
  line-height: 40px;
}
.textDatePicker {
  font-size: 20px;
  line-height: 24px;
  margin: 0px 0px 12px 0px;
}

.datePickerContainerStart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.datePickerContainerEnd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 31px;
  margin-top: 14px;
}

.pageNavigation {
  display: flex;
  justify-content: space-between;
}

input {
  font-size: 20px;
  width: 330px;
  height: 55px;
  border-radius: 4px;
  padding-left: 18px;
}
