.choice {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marginWrapper {
  margin: 16px;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 0px 0px 0px;
}

.continue {
  width: 113px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 23px;
  margin: 0px;
}

.steps{
  padding:0px 0px 0px 0px;
  font-weight: 800;
  margin-bottom: 4px;
}

.line {
  border-bottom: 3px solid #6b51ef;
  border-radius: 2px;
  width: 105px;
}
.publishDate{
  width:387px;
}

.addressText{
  font-size:32px;
  line-height:38px;
  margin: 16px 0px 2px 8px;
}

.addressSmallText{
  font-size:20px;
  line-height:26px;
  font-weight:500px;
  margin: 2px 0px 10px 8px;
}
.title {
  width: 409px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin:13px 0px 0px 0px;
  width:396px;
}

.subTitle {
  width: 281px;
  font-size: 40px;
  font-weight: 500;
  line-height:47px;
  width:366px;
  margin: 8px 24px 0px 0px;
}

.preamble {
  font-size: 16px;
  width: 389px;
  border-bottom:1px solid #E9E9E9;
  padding: 0px 0px 28px 0px;
}

.boldText {
  font-size: 18px;
  font-weight: 700;
  line-height:24px;
  margin:0px;
  padding:8px 0px 0px 8px;
}

.summaryText{
  font-size:16px;
  line-height:20px;
  margin:0px;
  padding:8px;
}
.addressWrapper{
  background-color:white;
  width:394px;
  border-radius:0px 0px 8px 8px;
  border: 1px solid #E9E9E9;
}
.containerBtn {
  padding: 41px 0px 0px 16px;
}
.customerWrapper{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  width:396px;
  margin: 20px 0px 16px 0px;
}
.customer{
  display:flex;
  flex-direction:column;
}
.customerText{
font-size:18px;
line-height:23px;
font-weight:400;
margin: 0px 0px 0px 0px

}
.text{
font-size:18px;
line-height:23px;
font-weight:400;
margin: 0px;
padding:0px 0px 0px 8px;
}

.textDate{
font-size:18px;
line-height:23px;
font-weight:400;
margin: 0px;
padding:8px 8px 0px 8px;
}

.rentalInfo{
  width:188px;
  height:64px;
  border-radius:8px;
  background-color:white;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  border: 1px solid #E9E9E9;
}
.customerName{
font-size:20px;
line-height:27px;
font-weight:800;
margin: 0px 0px 0px 0px
}

.summary{
  width:396px;
  height:201px;
  background-color:white;
  border-radius:8px;
  border:1px solid #E9E9E9;
}

.time{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:white;
  border-radius:8px;
  border: 1px solid #E9E9E9;
  width:396px;
  height:40px;
  margin:32px 0px 0px 0px;
}

.lastPart{
  text-align: center;
  width:396px;
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 40px;
}

.lastPartText{
  font-size:20px;
  line-height:27px;
  font-weight:800;
  margin: 40px 0px 18px 0px
  }

.btn {
  font-size: 16px;
  line-height: 24px;
  background-color: #6b51ef;
  color: white;
  border-radius: 8px;
  border: 2px solid white;
  height: 56px;
  width: 364px;
  padding: 0px 16px 0px 16px;
  cursor: pointer;
}

.pageNavigation {
  width: 408px;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.rentalInfoWrapper{
  display:flex;
  justify-content:space-between;
  width:396px;
  margin: 32px 0px 0px 0px;
}

.rentalWrapper{
  display:flex;
  flex-direction:column;
  gap:14px;
}

.Info{
  background-color:white;
  width:394px;
  border-bottom: 1px solid #E9E9E9;
  margin:16px 0px 0px 0px;
}

.infoWrapper{
  display:flex;
  justify-content:space-between
}

.imgText{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin:8px 8px 8px 8px;
}

.leftImgText{
  display:flex;
  flex-direction:column;
}

.rightImgText{
  display:flex;
  flex-direction:column;
}

.titlePopup{
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin:80px 0px 0px 22px;
 
}

.textPopup{
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin:36px 8px 0px 22px;
}