.choice {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marginWrapper {
  margin: 16px;
}
.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 0px 0px 0px;
}

.continue {
  width: 113px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 23px;
  margin: 0px;
}

.title {
  width: 409px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
}

.subTitle {
  width: 281px;
  font-size: 24px;
  font-weight: 700;
  top: 309px;
}

.text {
  font-size: 16px;
  font-weight: 400;
  width: 384px;
  margin-bottom: 40px;
  left: 16px;
}

.smallText {
  font-size: 16px;
  font-weight: 400;
  width: 86px;
}

.choice h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 800;
  padding: 45px 39px 0px 35px;
}

.choice p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500px;
  padding: 0px 39px 0px 35px;
}

.containerBtn {
  padding: 41px 0px 0px 16px;
}

.btn {
  font-size: 16px;
  line-height: 24px;
  background-color: #6b51ef;
  color: white;
  border-radius: 8px;
  border: 2px solid white;
  height: 56px;
  width: 364px;
  padding: 0px 16px 0px 16px;
}

.pageNavigation {
  width: 408px;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}
