.choice {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.marginWrapper {
  margin: 16px;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 0px 0px 0px;
}

.continue {
  width: 113px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 23px;
  margin: 0px;
}

.title {
  width: 361px;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
}

.text {
  font-size: 18px;
  width: 396px;
  margin-bottom: 32px;
}

textarea {
  border-radius: 8px;
  border: 2px solid black;
  resize: none;
  width: 396px;
  height: 50px;
}
.biggerTextarea {
  border-radius: 8px;
  border: 2px solid black;
  resize: none;
  width: 396px;
  height: 80px;
}

.pageNavigation {
  width: 408px;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}
