.choice {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.marginWrapper {
  margin: 16px;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 0px 0px 0px;
}

.continue {
  width: 113px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 23px;
  margin: 0px;
}

.steps {
  width: 105px;
  font-weight: 800;
  margin-bottom: 4px;
}

.line {
  border-bottom: 3px solid #6b51ef;
  border-radius: 2px;
  width: 105px;
}

.title {
  width: 396px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 14px 0px 8px 0px;
}

.text {
  font-size: 18px;
  width: 396px;
  line-height: 23px;
  margin: 0px 0px 20px 0px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 396px;
}

.label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

textarea {
  border-radius: 8px;
  border: 2px solid black;
  resize: none;
  width: 392px;
  height: 50px;
  margin: 8px 0px 16px 0px;
}

.biggerTextarea {
  border-radius: 8px;
  border: 2px solid black;
  resize: none;
  width: 392px;
  height: 80px;
}

.pageNavigation {
  width: 396px;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}
