footer {
  background-color: #c4c4c4;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  margin: 0px 16px 0px 16px;
  border-top: 2px solid #a0a0a0;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 100%;
  height: 64px;
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}

.companyName {
  font-size: 22px;
  font-weight: 700px;
  line-height: 53px;
  margin-top: 87px;
  margin-bottom: 10px;
}

.subheading {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 2px;
  margin-top: 40px;
}

.text {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: black;
  margin-top: 2px;
}

.contacts {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: black;
  margin-bottom: 4px;
}

.textInfo {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: black;
  line-height: 30px;
}

.linkPage {
  display: flex;
  flex-direction: column;
  margin: 0px 16px 0px 16px;
  border-top: 2px solid #a0a0a0;
}
.contactUs {
  display: flex;
  flex-direction: column;
  margin: 0px 16px 0px 16px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
}
