.choice {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marginWrapper {
  margin: 16px;
}

.title {
  width: 381px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 80px 0px 10px 0px;
}

.text {
  font-size: 18px;
  line-height: 21px;
  margin: 0px 0px 12px 0px;
  line-height: 40px;
}

.pageNavigation {
  width: 408px;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.container {
  width: 396px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  border: 2px solid black;
  border-right: none;
  background-color: white;
  width: 12%;
  font-size: 16px;
  cursor: pointer;
}

.boxStart {
  border: 2px solid black;
  border-right: none;
  border-radius: 8px 0px 0px 8px;
  width: 45px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

.boxEnd {
  border: 2px solid black;
  border-radius: 0px 8px 8px 0px;
  width: 45px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}
