.choice {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}

.logotype {
  height: 42px;
  width: 30px;
  margin-left: 16px;
  margin-top: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marginWrapper {
  margin: 16px;
}

.title {
  width: 396px;
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
  margin: 15px 0px 64px 0px;
}

.checkmark {
  margin-top: 20px;
  margin-bottom: 20px;
}

.subTitle {
  width: 396px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 64px 0px 8px 0px;
}

.text {
  width: 396px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin: 0px 0px 32px 0px;
}

.viewMyPages {
  margin-bottom: 176px;
}

textarea {
  border-radius: 8px;
  border: 2px solid black;
}
