.choice {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}

.logotype {
  height: 42px;
  width: 30px;
  margin-left: 16px;
  margin-top: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marginWrapper {
  margin: 16px;
}

.title {
  width: 361px;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  margin-left: -42px;
  margin-top: 4px;
}

.checkmark {
  margin-top: 20px;
  margin-bottom: 20px;
}

.subTitle {
  width: 361px;
  font-size: 32px;
  line-height: 1;
  font-weight: 600;
  margin-left: -32px;
  margin-bottom: -8px;
}

.text {
  margin-right: 6px;
  margin-left: 2px;
  margin-bottom: 38px;
  font-size: 20px;
}

.viewMyPages {
  margin-bottom: 176px;
}

textarea {
  border-radius: 8px;
  border: 2px solid black;
}
