.choice {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marginWrapper {
  margin: 16px;
}

.title {
  width: 361px;
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
}

.subTitle {
  width: 361px;
  font-size: 32px;
  line-height: 1;
  font-weight: 600;
  margin-left: 6px;
}

.text {
  font-size: 18px;
  width: 396px;
  margin-bottom: 32px;
}

/* .helpButton {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 52px;
  margin-top: 185px;
} */

.pageNavigation {
  width: 408px;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}
