.infoBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 396px;
  background-color: #ded1e9;
  border-radius: 8px;
  margin-top: 44px;
  font-family: "Nunito Sans";
}

.lightSymbol {
  padding-left: 12px;
}
.infoText {
  font-size: 16px;
  padding-right: 16px;
}
