.choice {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marginWrapper {
  margin: 16px;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-left: -6px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 0px 0px 0px;
}

.continue {
  width: 113px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 23px;
  margin: 0px;
}

.steps {
  width: 96px;
  font-weight: 800;
  margin-bottom: 4px;
}

.line {
  border-bottom: 3px solid #6b51ef;
  border-radius: 2px;
  width: 96px;
  margin-bottom: 13px;
}

.title {
  width: 361px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 0px 0px 8px -34px;
}

.text {
  font-size: 18px;
  line-height: 21px;
  margin: 0px 16px 20px 0px;
}

.textSize {
  font-size: 18px;
  line-height: 21px;
  margin: 0px;
  text-align: center;
}

.size {
  border-radius: 0px 8px 8px 0px;
  border: 2px solid black;
  width: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: row;
}

.select {
  border-radius: 8px 0px 0px 8px;
  border: 2px solid black;
  width: 369px;
  height: 58px;
  padding-left: 18px;
}

.infoBox {
  margin-bottom: 190px;
  margin-top: 10px;
}

/* .infoBox {
  margin-bottom: 190px;
  margin-top: 10px;
} */

.pageNavigation {
  width: 460px;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}
