.choice {
  display: flex;
  flex-direction: column;
}

.marginWrapper {
  margin: 16px;
}

.title {
  width: 361px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 0px 0px 8px 0px;
}

.text {
  font-size: 18px;
  line-height: 21px;
  margin: 0px 0px 12px 0px;
}

.textSize {
  font-size: 18px;
  line-height: 21px;
  margin: 0px;
  text-align: center;
}

.size {
  border-radius: 0px 8px 8px 0px;
  border: 2px solid black;
  width: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: row;
}

.select {
  border-radius: 8px 0px 0px 8px;
  border: 2px solid black;
  width: 369px;
  height: 58px;
  padding-left: 18px;
}

.pageNavigation {
  display: flex;
  justify-content: space-between;
}
